@import "./../../../../variables.scss";
.empty-space {
  height: 60px;   
  background-color: $Navy;
}
.jobs {
  background-color: $Navy;
  padding-top: 7%;
  .jobs-inner {
    background-color: #fff;
    // margin-bottom: -5%;
    padding: 20px;
  }
}

.summary-tabs {
  display: flex;


  .btn {
    margin: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #333;

    &.active {
      background-color: $LightNavy;
      color: white;
    }
  }
}

.summary-details {
  margin-bottom: 20px;

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      text-align: center;
    }

    th {
      
      color: black;
    }

    td {
      background-color: white;
      color: black;
    }
  }
}

[dir="rtl"] {
  .summary-tabs {
    text-align: right;
  }
  .summary-details {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .jobs {
    padding-top: 85%;
  }
  .summary-tabs{
    display: flex;
    flex-wrap: wrap; 
  }
}


@media (max-width: 2000px) {
  .jobs {
    padding-top: 10%;
  }
}
@media (max-width: 1500px) {
  .jobs {
    padding-top: 20%;
  }
}

@media (max-width: 1000px) {
  .jobs {
    padding-top: 30%;
  }
}
@media (max-width: 640px) {
  .jobs {
    padding-top: 80%;
  }
}