@import "./../../../../variables.scss";
.footer {
    background-color: #1A3A5A; /* Dark blue background color */
    padding: 60px 0;
    color: #ffffff;
    font-family: $CodeFont;
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .footer-logo {
      width: 150px;
      margin-bottom: 20px;
    }
  
    .footer-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .footer-contact-info {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        margin-bottom: 10px;
  
        i {
          margin-right: 10px;
        }
      }
    }
  
    .footer-links-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .footer-links {
      list-style: none;
      padding: 0;
      margin: 0;
      flex: 1; /* Ensure equal width for each column */
  
      a {
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .footer-social-icons {
      margin-top: 20px;
  
      a {
        color: #ffffff;
        margin-right: 15px;
        font-size: 18px;
  
        &:hover {
          color: #1E90FF; /* Lighter blue for hover effect */
        }
      }
    }
  
    .footer-contact-form {
      input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #f5f5f5;
        border: none;
        border-radius: 5px;
      }
  
      button {
        background-color: #003366;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #1E90FF;
        }
      }
    }
  
    @media (max-width: 768px) {
      .footer {
        padding: 40px 20px;
      }
  
      .footer-contact-info, .footer-links, .footer-contact-form {
        text-align: center;
      }
  
      .footer-contact-form {
        button {
          width: 100%;
        }
      }
  
      .footer-social-icons {
        text-align: center;
  
        a {
          margin-bottom: 10px;
        }
      }
  
      .footer-links-container {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  
  [dir="rtl"] {
    text-align: right;
    font-family: $MainFont;
    font-weight: 800
  }
  


  