<section class="section banner" id="banner">
    <div class="container-fluid p-0" data-aos="fade-up" data-aos-duration="1000">
        <div class="row no-gutters position-relative">
            <div class="col-12 position-relative">
                <!-- First photo -->
                <img src="../../../../assets/images/stocks_logo.jpeg" class="img-fluid w-100 container empty-space" alt="First Photo">
                
                <!-- Button container for alignment -->
                <div class="position-absolute bottom-0 start-0 d-flex flex-column align-items-start clickable-photo-container">
                    <a href="#" class="clickable-photo mb-2 ">
                        <img src="../../../../assets/images/AppStore.png" class="img-fluid w-100" alt="App Store">
                    </a>
                    <a href="#" class="clickable-photo">
                        <img src="../../../../assets/images/GooglePlay.png" class="img-fluid w-100" alt="Google Play">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
