.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .trade-text {
    font-size: 2.5rem;  /* Adjust the font size as needed */
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .empty-space {
    margin-top: 80px; /* Adjust the value as needed */
}

  .trade-text:hover {
    color: brown;  /* Change color on hover */
  }
  
  .banner .row {
    position: relative;
  }
  
  .banner img {
    display: block; /* Ensure images are displayed as blocks */
  }
  
  .clickable-photo-container {
    position: absolute; /* Position the container absolutely */
    bottom: 13%; /* Adjust as needed */
    left: 13%; /* Adjust as needed */
    z-index: 5; /* Ensure it appears above the first photo */
  }
  
  .clickable-photo img {
    background-color: black;
    max-width: 100%;
    height: auto;
  }
  