<main>
    <app-banner></app-banner>
    <!-- <app-jobs></app-jobs> -->
    <app-stock-market></app-stock-market>
    <app-market-summary></app-market-summary>
    <app-market-watch></app-market-watch>
    <app-sectors></app-sectors> 
    <app-about></app-about>
    <app-proyects></app-proyects>
    
    <app-more-proyects></app-more-proyects>
    
    
    
    
    
    <app-additional-tables></app-additional-tables>
    <app-stocks-information></app-stocks-information>
    <app-reports></app-reports>
    <app-news></app-news>
    <app-contact-us></app-contact-us>
    <app-contact></app-contact>

    
</main>

