@import "./../../../../variables.scss";

.jobs {
    background-color: $Navy;
    .jobs-inner {
        background-color: #fff;
    }
}
.empty-space {
    height: 50px;   
    background-color: $Navy;
  }

.about-details {
    h2 {
        color: $LightestNavy;
        font-family: 'Times New Roman', Times, serif;
    }
    p {
        color: #000;
    } 
    a {
        color: $LightNavy;
    }
}
