<section class="section contact-us" id="contact-us">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
      <div class="section-box">
        <div>
          <h3 class="section-title">
            {{"ContactUs.Title" | translate}}
          </h3>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
          <!-- Left Column: Form -->
          <div class="col-lg-6 ">
            <div class="row">
              <div class="col-12">
                <input matInput class="form form-control mb-2" type="text" placeholder="Your Name"/>
              </div>
              <div class="col-12">
                <textarea matInput class="form form-control mb-2" placeholder="Your Message" rows="12"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input matInput class="form form-control mb-2" type="text" placeholder="Email Address"/>
              </div>
              <div class="col-md-6">
                <input matInput class="form form-control mb-2" type="text" placeholder="Phone Number"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="dropdown w-100">
                  <mat-label>Country</mat-label>
                  <mat-select>
                    <mat-option value="A">Egypt</mat-option>
                    <mat-option value="An">Saudi Arabia</mat-option>
                    <mat-option value="Som">Qatar</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="dropdown w-100">
                  <mat-label>City</mat-label>
                  <mat-select>
                    <mat-option value="Action">Action</mat-option>
                    <mat-option value="Another action">Another action</mat-option>
                    <mat-option value="Something else here">Something else here</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
              <div class="col-md-6">
                <!-- You can add more fields here if needed -->
              </div>
            </div>
            <button class="mx-auto btn btn-primary">Submit Message</button>
          </div>
          <!-- Right Column: Contact Information and Map -->
          <div class="col-lg-6">
            <div class="contact-info">
              <h4>Contact Information</h4>
              <p><strong>Address:</strong> 6 El Imam Ali Helioplies</p>
              <p><strong>Hotline:</strong> 19973</p>
              <p><strong>Email:</strong> helpdesk&#64;pioneers-securities.com</p>
              <p><strong>Phone:</strong> 202-24190126</p>
            </div>
            <div class="map mt-3">
              <h4>Our Location</h4>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.025116393362!2d31.33142618046898!3d30.093467010177545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145815114875a8ff%3A0xe3df564430059452!2zUGlvbmVlcnMgc2VjdXJpdGllcyDYqNin2YrZiNmG2YrYsdiyINmE2KrYr9in2YjZhCDYp9mE2KfZiNix2KfZgiDYp9mE2YXYp9mE2YrYqQ!5e0!3m2!1sen!2seg!4v1720950282800!5m2!1sen!2seg"                 width="100%"
                height="250"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  