@import "./../../../../variables.scss";
.container {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .pie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
  }

  .market-status {
    border-top: 2px solid #ccc;
    padding-top: 20px;

    .col-md-6 {
      margin-top: 20px;
    }

    .pie-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 100%;
    }

    h4 {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .market-summary-table {
      width: 100%;
      table {
        width: 100%;
        border-collapse: collapse;

        td, th {
          padding: 8px;
          text-align: center;
          border: 1px solid #ddd;
        }

        .text-success {
          color: green;
        }

        .text-danger {
          color: red;
        }

        .text-primary {
          color: blue;
        }

        td {
          font-weight: bold;
        }
      }
    }
  }
}

.jobs {
  background-color: $Navy;

  .jobs-inner {
    background-color: #fff;
  }
}

.btn-primary {
  background-color: $LightNavy;
  color: white;
}

.btn-light {
  background-color: #f8f9fa;
  color: #343a40;
}

.btn-primary, .btn-light {
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn-primary.active, .btn-light.active {
  border-color: #007bff;
}

[dir="rtl"] {
  .container {
    .row {
      flex-direction: row-reverse;
    }

    .col-md-6 {
      margin-top: 20px;
    }

    .market-status {
      .col-md-6 {
        margin-top: 20px;
      }

      h4 {
        text-align: right; 
      }

      .market-summary-table {
        table {
          td {
            margin-left: 10px; 
            margin-right: 0; 
          }
        }
      }
    }
  }
}
