@import "./../../../../variables.scss";

.container {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; // Ensure wrapping on smaller screens
  }

  .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

    @media (max-width: 768px) {
      height: auto;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .pie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;

    @media (max-width: 768px) {
      height: auto;
    }
  }

  .market-status {
    border-top: 2px solid #ccc;
    padding-top: 20px;

    .col-md-6 {
      margin-top: 20px;

      @media (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 20px;
        width: 100%;
      }
    }

    h4 {
      font-weight: bold;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .market-summary-table {
      width: 100%;

      table {
        width: 100%;
        border-collapse: collapse;

        td, th {
          padding: 8px;
          text-align: center;
          border: 1px solid #ddd;

          @media (max-width: 768px) {
            padding: 6px;
          }
        }

        .text-success {
          color: green;
        }

        .text-danger {
          color: red;
        }

        .text-primary {
          color: blue;
        }

        td {
          font-weight: bold;
        }
      }
    }
  }
}

.jobs {
  background-color: $Navy;

  .jobs-inner {
    background-color: #fff;
    margin-top: 5%;

    @media (max-width: 768px) {
      margin-top: 20px;
      padding: 10px;
    }
  }
}

.btn-primary {
  background-color: $LightNavy;
  color: white;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.btn-light {
  background-color: #f8f9fa;
  color: #343a40;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.btn-primary, .btn-light {
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn-primary.active, .btn-light.active {
  border-color: #007bff;
}

[dir="rtl"] {
  .container {
    .row {
      flex-direction: row-reverse;
    }

    .col-md-6 {
      margin-top: 20px;

      @media (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 20px;
        width: 100%;
      }
    }

    .market-status {
      .col-md-6 {
        margin-top: 20px;

        @media (max-width: 768px) {
          margin-top: 0;
          margin-bottom: 20px;
          width: 100%;
        }
      }

      h4 {
        text-align: right; 

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      .market-summary-table {
        table {
          td {
            margin-left: 10px; 
            margin-right: 0; 
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .jobs {
    padding-top: 85%;
  }
  
}