@import "./../../../../variables.scss";

h3 {
    color: $LightNavy;
}

.other-proyect-title {
    margin: 0 0 10px;
    font-size: 22px;
    color: $LightestSlate;
}

.space-row {
    margin: 15px;
    padding: 25px;
    margin-bottom: -1%;
}

.value-heading {
    top: 42%;
    left: 32%;
    color: rgb(231, 224, 224);
    font-weight: bold;
}

.jobs {
    background-color: $Navy;

    .jobs-inner {
        background-color: #fff;
    }
}

.empty-space {
    background-color: $Navy; 
    height: 50px; 
    margin: 0; 
    padding: 0; 
}
[dir="rtl"] {
text-align: right;

}