@import "./../../../../variables.scss";

.jobs {
    background-color: $Navy;
    padding-top: 7%;
    .jobs-inner {
      background-color: #fff;
    //   margin-bottom: -5%;
    }
  }

  .about-details {
    h1 {
        color: $LightNavy;
        // font-family: 'Times New Roman', Times, serif;
    }
    p {
        color: #000;
    } 
    a {
        color: $LightNavy;
    }
}
img{
    width: 100%;
}

.empty-space {
    background-color: $Navy; 
    height: 100px; 
    margin: 0; 
    padding: 0; 
}
[dir="rtl"] {
    text-align: right;
    font-size: larger;
}