<div class="jobs">
    <div class="container"data-aos="fade-up" data-aos-duration="1000">
        <!-- <div class="container">
            <h3 class="section-title">
               {{"Reports.Title" | translate}}
            </h3>
        </div> -->
      <div class="jobs-inner">
        <div class="summary-tabs mx-2">
          <button class="btn btn-light active" (click)="changeSummary('market')">Market Summary</button>
          <button class="btn btn-light" (click)="changeSummary('egx')">EGX Summary</button>
          <button class="btn btn-light" (click)="changeSummary('trading')">Trading Summary</button>
      </div>
      
      <div class="summary-details mx-2 my-2">
        <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Top Gainers</th>
                      <th>Top Losers</th>
                      <th>Stock Count</th>
                      <th>Trades Count</th>
                      <th>Total Volume</th>
                      <th>Total Value</th>
                      <th>Last Updated</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-success">{{ summaryData.topGainers }}</td>
                      <td class="text-danger">{{ summaryData.topLosers }}</td>
                      <td>{{ summaryData.stockCount }}</td>
                      <td>{{ summaryData.tradesCount }}</td>
                      <td>{{ summaryData.totalVolume }}</td>
                      <td>{{ summaryData.totalValue }}</td>
                      <td>{{ summaryData.lastUpdated }}</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    <div class="market-tabs mx-2" >
      <button class="btn btn-light active">Arab Markets</button>
      <button class="btn btn-light">International Markets</button>
    </div>
    <div class="market-table mx-2">
      <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Market Value</th>
            <th>Change Value</th>
            <th>Change %</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let market of markets">
            <td>{{ market.name }}</td>
            <td>{{ market.marketValue }}</td>
            <td [ngClass]="{'text-success': market.changeValue >= 0, 'text-danger': market.changeValue < 0}">
              {{ market.changeValue }}
            </td>
            <td [ngClass]="{'text-success': market.changePercentage >= 0, 'text-danger': market.changePercentage < 0}">
              {{ market.changePercentage }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
      </div>
    </div>
  </div>
  