@import "./../../../../variables.scss";
.jobs {
    background-color: $Navy;
    .jobs-inner {
        background-color: #fff;
    }
}
.empty-space {
    height: 70px;   
    background-color: $Navy;
  }
.news-container {
    padding: 20px;
  
    .nav-tabs {
      margin-bottom: 20px;
    }
  
    .news-list {
      display: flex;
      flex-direction: column;
    }
  
    .news-item {
      display: flex;
      margin-bottom: 20px;
      direction: rtl;
      text-align: right;
      cursor: pointer;
    
      .news-image {
        flex: 0 0 100px; 
        img {
          width: 100%;   
          height: auto; 
          border-radius: 8px;
        }
      }
    
      .news-content {
        flex: 2;
        padding-right: 20px;
    
        .news-title {
          font-size: 1.5em;
          color: #007bff;
        }
    
        .news-summary {
          margin: 10px 0;
        }
    
        .news-read-more {
          color: #007bff;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    
  
    .news-detail-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      animation: fadeIn 0.5s;
  
      .back-button {
        align-self: flex-start;
        cursor: pointer;
        font-size: 1.2em;
        margin-bottom: 20px;
        color: $LightNavy;
      }
  
      .news-detail-image {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
  
        img {
          width: 100%;
          height: 150px;
          border-radius: 8px;
          animation: imageGrow 0.5s;
        }
      }
  
      .news-detail-content {
        width: 100%;
        max-width: 600px;
  
        .news-detail-title {
          margin-bottom: 20px;
          color: #007bff;
          font-size: 2em;
          text-align: center;
        }
  
        .news-detail-summary {
          font-size: 1.2em;
          line-height: 1.6;
          direction: rtl;
          text-align: right;
        }
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes imageGrow {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color: rgb(228, 224, 224);
    
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover:not(.active) {
    background-color: gray;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination button.active {
    background-color: $LightNavy;
    color: white;
  }
  .download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $LightNavy;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: darken($LightNavy, 10%);
    }
  }