<section id="news">
<div class="empty-space">

</div>
<div class="jobs ">
  <div class="container" data-aos="fade-up" data-aos-duration="1000">
    <div class="section-box">
        <div>
          <h3 class="section-title">
            {{"News.Title" | translate}}
          </h3>
        </div>
    <div class="jobs-inner ">
<div class="news-container" data-aos="fade-up" data-aos-duration="1000">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>General</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Trading</a>
      </li>
    </ul>
  
    <div *ngIf="!selectedArticle" class="news-list" data-aos="fade-up" data-aos-duration="1000">
      <div *ngFor="let article of articles" class="news-item" (click)="selectArticle(article)">
        <div class="news-image">
          <img [src]="article.imageUrl" alt="Article Image">
        </div>
        <div class="news-content">
          <h3 class="news-title">{{ article.title }}</h3>
          <p class="news-summary">{{ article.summary }}</p>
          <a (click)="selectArticle(article)" class="news-read-more">Read More ⟶</a>
        </div>
      </div>
    </div>
  
    <div *ngIf="selectedArticle" class="news-detail-container" [@fadeInAnimation]>
      <div class="back-button" (click)="clearSelection()">← Back</div>
      <div class="news-detail-image" [@imageAnimation]>
        <img [src]="selectedArticle.imageUrl" alt="Article Image">
      </div>
      <div class="news-detail-content">
        <h1 class="news-detail-title">{{ selectedArticle.title }}</h1>
        <p class="news-detail-summary">{{ selectedArticle.content }}</p>
      </div>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
</section>